<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div  class="txt_field">
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div  class="txt_field">
      <input name="post-content" type="text" value="{{post_content}}" />
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <input type="submit" value="Save">
    <input type="submit" class="delete-post-btn" value="Delete">
  </form>
</article>

<form class="comment-form">
  <div class="txt_field">
    <input type="text" name="comment-body">
  </div>

  <div>
    <input type="submit" value="Add Comment">
  </div>
</form>

{{> comments post.comments}}

{{!-- <script src="/javascript/add-post.js"></script> --}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>